export OPENAI_API_KEY={{ onepasswordRead "op://personal/OpenAI/chatgpt.nvim" }}
export OCO_OPENAI_API_KEY={{ onepasswordRead "op://personal/OpenAI/opencommit" }}
export GITHUB_TOKEN={{ onepasswordRead "op://personal/Github/personal-access-token" }}
