layout {
    pane_template name="editor" {
        command "nvim"
    }
    pane_template name="terminal" {
        name "shell"
    }
    pane_template name="lazygit" {
        name "lazygit"
        command "lazygit"
    }
    tab name="nix" cwd="~/.config/nix-darwin/" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane stacked=true {
            editor
            terminal name="shell"
        }
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
    tab name="nvim-config" cwd="~/.config/nvim/" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane stacked=true {
            editor
            terminal name="shell"
        }
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
    tab name="tf-cloudflare" cwd="~/code/terraform/cloudflare-terraform/" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane stacked=true {
            editor
            terminal name="shell"
            lazygit
        }
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
}

